body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}


#Biome1 {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1500px;
    height: 700px;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;
}

#info {
    position: absolute;
    top: 0;
}

#score {
    position: absolute;
    top: 0;
    right: 0;
}

#player {
    display: none;
}

#layer-1 {
    display: none;
}

#layer-2 {
    display: none;
}

#layer-3 {
    display: none;
}

#layer-4 {
    display: none;
}

#layer-5 {
    display: none;
}

#enemy1, #enemy2, #enemy3 {
    display: none;
}